#keys {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  padding: 25px;
}

#calculator {
  background-color: black;
  font-family: sans-serif;
  border-radius: 15px;
}

button {
  width: 100px;
  height: 100px;
  border-radius: 50px;
  border: none;
  background-color: black;
  color: azure;
  font-size: 3rem;
  font-weight: bold;
  cursor: pointer;
}
